@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
@font-face {
  font-family: "Mulish", sans-serif;
}
body {
  font-family: "Mulish", sans-serif;
}
.home__page__cover {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.nav__and__pages__cover {
  padding: 0px !important;
}
